<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>PLAN一对一私人教练健身</title>
<link rel="SHORTCUT ICON" href="__ROOT__/public/images/aa.ico"/>
<link href="__ROOT__/public/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__ROOT__/public/js/jquery.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="__ROOT__/public/js/move-top.js"></script>
<script type="text/javascript" src="__ROOT__/public/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!---- start-smoth-scrolling---->
 <!-- Custom Theme files -->
<link href="__ROOT__/public/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!----webfonts---->
<link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!----//webfonts---->
<!----start-top-nav-script---->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
<!----//End-top-nav-script---->
</head>
<body>

		<!-----start-container---->
			<!----- start-header---->
			<div id="home" class="header">
				<div class="container">
					<div class="logo">
						<a href="#"><img src="__ROOT__/public/images/logo.png" title="logo" /></a>
					</div>
					<!----start-top-nav---->
					 <nav class="top-nav">
						<ul class="top-nav">
							<li class="active"><a href="#home" class="scroll">首 页</a></li>
							<li class="page-scroll"><a href="#team" class="scroll">健身教练</a></li>
							<li class="page-scroll"><a href="#footer" class="scroll">联系我们</a></li>
							<!--<li class="page-scroll"><a href="#gallery" class="scroll">gallery</a></li>
							<li class="page-scroll"><a href="#pricing" class="scroll">pricing</a></li>
							<li class="page-scroll"><a href="#partner" class="scroll">partners</a></li>
							<li class="contatct-active" class="page-scroll"><a href="#contact" class="scroll">Contact</a></li>-->
						</ul>
						<a href="#" id="pull"><img src="__ROOT__/public/images/nav-icon.png" title="menu" /></a>
					</nav>
					<div class="clearfix"> </div>
					<!--<div class="contact-info">
						<p><span><label> </label></span>1-800-555-1234</p>
					</div>-->
				</div>
			</div>
			<!----- //End-header---->
			<!----start-slider-script---->
			<script src="__ROOT__/public/js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });

			    function addDownload(){
			    /*	window.location="__APP__/Home/Index/addDownload";*/
			    }
			  </script>
			<!----//End-slider-script---->
			<!-- Slideshow 4 -->
			    <div  id="top" class="callbacks_container">
			      <ul class="rslides" id="slider4">
			        <li>
			           <img src="__ROOT__/public/images/slide4.jpg" alt="" class="imgchangehide">
			          <img src="__ROOT__/public/images/slide41.jpg" alt="" class="imgchange">
			          <div class="caption">
			          	<div class="slide-text-info">
                         
			          		<h1>真人健身教练&nbsp;一对一在线指导</h1>
							<p class="tt1">Your Personal Trainer  One To One Guidance</p>
							<div class="tttt1">
									<div class="webup  ">
						            	<!--<p class="tp1">给你前所未有的全面指导</p>-->
									<div class="upapk1">
										<img src="__ROOT__/public/images/Android1.jpg">
									</div>
										<a  class="upbutton1" href="__APP__/home/Index/addDownload"><img src="__ROOT__/public/images/Android1.png" /></a>
									</div>
								</div>
							<div class="t1 clearfix">
									<div class="upapk  fl">
										<img src="__ROOT__/public/images/Android1.jpg">
									</div>
									<div class="fl rightw">

										<!--<p class="tp">给你前所未有的全面指导</p>-->
										<a  class="upbutton" href="http://123.57.135.102/plan_files/plan_offical.apk"><img src="__ROOT__/public/images/Android.png" /></a>
									</div>
								</div>
                          	
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="__ROOT__/public/images/slide5.jpg" alt="" class="imgchangehide">
			          <img src="__ROOT__/public/images/slide51.jpg" alt="" class="imgchange">
			          <div class="caption">
			          	<div class="slide-text-info">
			          		
			          			<h1>真人健身教练&nbsp;一对一在线指导</h1>
								<p class="tt1">Your Personal Trainer  One To One Guidance</p>
								<div class="tttt1">
									<div class="webup  ">
						            	<!-- <p class="tp1">给你前所未有的全面指导</p> -->
									<div class="upapk1">
										<img src="__ROOT__/public/images/Android1.jpg">
									</div>
										<a  class="upbutton1" href="__APP__/home/Index/addDownload"><img src="__ROOT__/public/images/Android1.png" /></a>
									</div>
								</div>
								<div class="t1 clearfix">
									<div class="upapk  fl">
										<img src="__ROOT__/public/images/Android1.jpg">
									</div>
									<div class="fl rightw">

										<!-- <p class="tp">给你前所未有的全面指导</p> -->
										<a  class="upbutton" href="http://123.57.135.102/plan_files/plan_offical.apk"><img src="__ROOT__/public/images/Android.png" /></a>
									</div>
								</div>
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="__ROOT__/public/images/slide6.jpg" alt="" class="imgchangehide">
			          <img src="__ROOT__/public/images/slide61.jpg" alt="" class="imgchange">
			           <div class="caption">
			           	<div class="slide-text-info">
			          		<div class="code1"><div class="code"></div></div>
			          			<h1>真人健身教练&nbsp;一对一在线指导</h1>
								<p class="tt1">Your Personal Trainer  One To One Guidance</p>
								<div class="tttt1">
									<div class="webup  ">
						            	<!-- <p class="tp1">给你前所未有的全面指导</p> -->
									<div class="upapk1">
										<img src="__ROOT__/public/images/Android1.jpg">
									</div>
										<a  class="upbutton1" href="__APP__/home/Index/addDownload"><img src="__ROOT__/public/images/Android1.png" /></a>
									</div>
								</div>
								<div class="t1 clearfix">
									<div class="upapk  fl">
										<img src="__ROOT__/public/images/Android1.jpg">
									</div>
									<div class="fl rightw">

										<!-- <p class="tp">给你前所未有的全面指导</p> -->
										<a  class="upbutton" href="http://123.57.135.102/plan_files/plan_offical.apk"><img src="__ROOT__/public/images/Android.png" /></a>
									</div>
								</div>
			          	</div>
			          </div>
			        </li>
			      </ul>
			    </div>
			    <div class="clearfix"> </div>
			<!----- //End-slider---->
            <div class="feature-list no-mobile">
	            
            <div class="feature feature-1 ">
            <div class="feature-content clearfix">
            <div class="leftpic fl">
            	<img src="__ROOT__/public/images/tu1.png">
            </div>

            <div class="feature-wording right ">
            <h3 class="feature-title">在线定制训练计划<br>真人教练一对一</h3>
            <p class="feature-desc">通过详细的体测，一对一定制训练计划，拒绝千篇一律。无论在家，还是在健身房，都可以训练。同时教练还会提供饮食建议，吃练结合，效果更佳。健身就应因人而异。</p>
            </div></div></div>
            
            <div class="feature feature-2">
	            <div class="feature-content clearfix">
	            	
		            <div class="feature-wording left">
			            <h3 class="feature-title">随时随地咨询教练<br>在线指导很便捷</h3>
			            <p class="feature-desc">遇到疑问，通过文字、语音、图片向教练提问，教练提供专业的解答，让你训练无忧。关键是，咨询不限次。</p>
		            </div>
		            <div class="rightpic fr">
		            	<img src="__ROOT__/public/images/tu2.png">
		            </div>
	            </div>
            </div>
            
            <div class="feature feature-3">
            <div class="feature-content clearfix">
             <div class="leftpic fl">
            	<img src="__ROOT__/public/images/tu3.png">
            </div>
            <div class="feature-wording right">
            <h3 class="feature-title">全国范围精选教练<br>不用去健身房瞎碰</h3><p class="feature-desc">你可以随时选择全国最优秀的教练，好教练就在你的口袋中。这里的教练不卖卡、不推销、不揩油，专注于教学。</p></div></div></div></div>
			<!-----start-fearures---->
			<div class="features" id="features">
				<div class="container">
					<div class="features-head text-center">
						<h2><span>PLAN</span> 提供你前所未有的全面指导</h2>
						<p>&nbsp;</p>
					</div>
					<div class="feature-grids">
						<div class="col-md-3 feature-grid">
							<h3><span class="fea-icon1"> </span>身体体能评估</h3>
							<p>你的教练将通过电话、APP了解你的身体状况、运动情况，你只需要按照要求完成相应测试动作，并向教练提供数据和照片，教练即可准确的掌握你的身体体能状况。</p>
						</div>
						<div class="col-md-3 feature-grid">
							<h3><span class="fea-icon2"> </span>定制训练计划</h3>
							<p>教练会跟据你身体体能评估的结果，为你制定针对性的训练计划。PLAN会将训练计划以视频的方式呈现给你，你可以很方便地跟着训练。教练也会根据你的训练进度及反馈，对训练计划随时进行调整，以更好的达成的你的训练目标。</p>
						</div>
						<div class="col-md-3 feature-grid">
							<h3><span class="fea-icon3"> </span>针对性饮食建议</h3>
							<p>为配合训练，你可以向教练咨询相关饮食建议，教练会根据你的用餐习惯、身体状况，因地制宜的提出饮食建议。让你学会控制食物，而不是让食物控制。</p>
						</div>
						<div class="col-md-3 feature-grid">
							<h3><span class="fea-icon4"> </span>无限次答疑指导</h3>
							<p>如果你有任何健身方面的疑问，都可以向教练提出，教练会尽快给您回复。同时，教练也是你健身的监督人，他会让你分分钟收起那颗偷懒的心。</p>
						</div>
						<div class="clearfix"> </div>
                        
					</div>
				</div>
			</div>
			<!-----//End-fearures---->
			<!-----start-team---->
			<div class="team" id="team">
				<div class="container">
					<div class="team-head text-center">
						<h3>PLAN 金牌教练</h3>
						<span> </span>
					</div>
					<div class="team-grids">
						<div class="col-md-3 team-grid">
							<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
						     <img class="p-img" src="__ROOT__/public/images/t1.jpg" /><div class="b-wrapper">
						     	<h2 class="b-animate b-from-left    b-delay03 ">
						     		<div class="animate-head">
						     			<div class="animate-head-left">
						     				<h3>经 历</h3>
						     				<span>亚洲体适能高级私人教练认证<br>PNF拉伸认证</span>
						     			</div>
						     			<div class="clearfix"> </div>
						     		</div>
						     	</h2>
						  	</div></a>
						  	<div class="t-member-info">
						  		<h5>叶祥龙</h5>
						  		<span>执教三年</span>
						  		<p class="ills">亚洲体适能高级私人教练认证<br>PNF拉伸认证</p>
						  	</div>
						</div>
						<div class="col-md-3 team-grid">
							<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
						     <img class="p-img" src="__ROOT__/public/images/t2.jpg" /><div class="b-wrapper">
						     	<h2 class="b-animate b-from-left    b-delay03 ">
						     		<div class="animate-head">
						     			<div class="animate-head-left">
						     				<h3>经 历</h3>
						     				<span>AASFP亚洲体适能认证<br>EPTC私教颈椎运动康复认证教练</span>
						     			</div>
						     			<div class="clearfix"> </div>
						     		</div>
						     	</h2>
						  	</div></a>
						  	<div class="t-member-info">
						  		<h5>谭理</h5>
						  		<span>执教六年</span>
						  		<p class="ills">AASFP亚洲体适能认证<br>EPTC私教颈椎运动康复认证教练</p>
						  	</div>
						</div>
						<div class="col-md-3 team-grid">
							<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
						     <img class="p-img" src="__ROOT__/public/images/t3.jpg" /><div class="b-wrapper">
						     	<h2 class="b-animate b-from-left    b-delay03 ">
						     		<div class="animate-head">
						     			<div class="animate-head-left">
						     				<h3>经 历</h3>
						     				<span>毕业于韩国全北国立大学<br>任费恩莱斯健身旗舰店私人教练</span>
						     			</div>
						     			<div class="clearfix"> </div>
						     		</div>
						     	</h2>
						  	</div></a>
						  	<div class="t-member-info">
						  		<h5>刘雨嘉</h5>
						  		<span>执教两年</span>
						  		<p class="ills">毕业于韩国全北国立大学<br>任费恩莱斯健身旗舰店私人教练</p>
						  	</div>
						</div>
						<div class="col-md-3 team-grid">
							<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
						     <img class="p-img" src="__ROOT__/public/images/t4.jpg" /><div class="b-wrapper">
						     	<h2 class="b-animate b-from-left    b-delay03 ">
						     		<div class="animate-head">
						     			<div class="animate-head-left">
						     				<h3>经 历</h3>
						     				<span>EPTC急速瘦身认证<br>健身114“中国好教练”称号获得者</span>
						     			</div>
						     			<div class="clearfix"> </div>
						     		</div>
						     	</h2>
						  	</div></a>
						  	<div class="t-member-info">
						  		<h5>王占</h5>
						  		<span>执教两年</span>
						  		<p class="ills">EPTC急速瘦身认证<br>健身114“中国好教练”称号获得者</p>
						  	</div>
						</div>
					</div>
				</div>
			</div>
			<!-----//End-team---->
			<!-----start-gallery---->
			<div class="gallery" id="gallery">
				<div class="container">
					<div class="gallery-head text-center">
						<h3>更多 PLAN 签约教练</h3>
						<span></span>
					</div>
					<div class="gallery-grids">
						<!----files-rquired-for-image-hover-effects----->
						<link rel="stylesheet" type="text/css" href="__ROOT__/public/css/component.css" />
						<script src="__ROOT__/public/js/modernizr.custom.js"></script>
						<script src="__ROOT__/public/js/toucheffects.js"></script>
						<!----//files-rquired-for-image-hover-effects----->
						<div class="col-md-3 gallery-grid grid cs-style-2">
							<figure>
								<img src="__ROOT__/public/images/g1.jpg" alt="img02">
								<figcaption>
									<h3>杨志</h3>
									<span>宝德龙杯65公斤级优秀奖</span>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-3 gallery-grid grid cs-style-2">
							<figure>
								<img src="__ROOT__/public/images/g2.jpg" alt="img02">
								<figcaption>
									<h3>谢涵原</h3>
									<span>全国大学生模特大赛总决赛</span>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-3 gallery-grid grid cs-style-2">
							<figure>
								<img src="__ROOT__/public/images/g3.jpg" alt="img02">
								<figcaption>
									<h3>陈仁杰</h3>
									<span>5年运动员生涯</span>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-3 gallery-grid grid cs-style-2">
							<figure>
								<img src="__ROOT__/public/images/g4.jpg" alt="img02">
								<figcaption>
									<h3>何志鹏</h3>
									<span>BOXING、TRX训练认证</span>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-3 gallery-grid grid cs-style-2">
							<figure>
								<img src="__ROOT__/public/images/g5.jpg" alt="img02">
								<figcaption>
									<h3>武石</h3>
									<span>NSCA美国体适能认证教练</span>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-3 gallery-grid grid cs-style-2">
							<figure>
								<img src="__ROOT__/public/images/g8.jpg" alt="img02">
								<figcaption>
									<h3>李双</h3>
									<span>AASFP体适能普拉提教练证书</span>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-3 gallery-grid grid cs-style-2">
							<figure>
								<img src="__ROOT__/public/images/g6.jpg" alt="img02">
								<figcaption>
									<h3>史俊</h3>
									<span>TRX国际认证教练</span>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-3 gallery-grid grid cs-style-2">
							<figure>
								<img src="__ROOT__/public/images/g7.jpg" alt="img02">
								<figcaption>
									<h3>李实</h3>
									<span>AASFP损伤康复认证</span>
								</figcaption>
							</figure>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!-----//End-gallery---->
			<!-----start-pricing-plans---->
			<!--<div class="pricing-plans" id="pricing">
				<div class="container">
					<div class="pricing-plans-head text-center">
						<h3>PLAN 一对一私教服务</h3><span> </span>
					</div>
					<div class="pricing-plan-grids">
						<div class="col-md-4">
						 <div class="pricing-plan-grid">
							<div class="col-md-5 pricing-plan-grid-left text-center">
								<span class="p-icon1"> </span>
								<h4>标准</h4>
								<p>99<label>元/月</label></p>
							</div>
							<div class="col-md-7 pricing-plan-grid-right">
								<ul class="list-unstyled">
                                 <li><span> </span><a href="#">教练执教1-2年</a></li>
									<li><span> </span><a href="#">体能测试评估</a></li>
									<li><span> </span><a href="#">制定个性化健身计划</a></li>
                                  <li><span> </span><a href="#">提供合理的饮食建议</a></li>
                                  <li><span> </span><a href="#">无限次健身咨询</a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						</div>
						<div class="col-md-4">
						 <div class="pricing-plan-middlegrid">
							<div class="col-md-5 pricing-plan-grid-left1 text-center">
								<span class="p-icon2"> </span>
								<h4>升级</h4>
								<p>199<label>元/月</label></p>
							</div>
							<div class="col-md-7 pricing-plan-grid-right">
								<ul class="list-unstyled">
									<li><span> </span><a href="#">教练执教3-10年</a></li>
									<li><span> </span><a href="#">体能测试评估</a></li>
									<li><span> </span><a href="#">制定个性化健身计划</a></li>
                                  <li><span> </span><a href="#">提供合理的饮食建议</a></li>
                                  <li><span> </span><a href="#">无限次健身咨询</a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						</div>
						<div class="col-md-4">
						 <div class="pricing-plan-grid">
							<div class="col-md-5 pricing-plan-grid-left text-center">
								<span class="p-icon3"> </span>
								<h4>至尊</h4>
								<p>599<label>元/月</label></p>
							</div>
							<div class="col-md-7 pricing-plan-grid-right">
								<ul class="list-unstyled">
									<li><span> </span><a href="#">教练执教3-10年</a></li>
									<li><span> </span><a href="#">体能测试评估</a></li>
									<li><span> </span><a href="#">制定个性化健身计划</a></li>
                                  <li><span> </span><a href="#">提供合理的饮食建议</a></li>
                                  <li><span> </span><a href="#">无限次健身咨询</a></li>
                                   <li><span> </span><a href="#">线下指导一次</a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>-->
			<!-----//End-pricing-plans---->
		<!-----//End-container---->
	        <!--<div class="gallery" id="partner">
				<div class="container">
					<div class="gallery-head text-center">
					  <h3>PLAN 部分动作视频截图</h3><span> </span>
					</div>
					<ul id="flexiselDemo3">
						<li><img src="__ROOT__/public/images/c1.png" /></li>
						<li><img src="__ROOT__/public/images/c2.png" /></li>
						<li><img src="__ROOT__/public/images/c3.png" /></li>
						<li><img src="__ROOT__/public/images/c4.png" /></li>
						<li><img src="__ROOT__/public/images/c5.png" /></li>
						<li><img src="__ROOT__/public/images/c6.png" /></li>
					</ul>
	<script type="text/javascript">
$(window).load(function() {
	$("#flexiselDemo3").flexisel({
		visibleItems: 5,
		animationSpeed: 1000,
		autoPlay: true,
		autoPlaySpeed: 3000,    		
		pauseOnHover: true,
		enableResponsiveBreakpoints: true,
    	responsiveBreakpoints: { 
    		portrait: { 
    			changePoint:480,
    			visibleItems: 1
    		}, 
    		landscape: { 
    			changePoint:640,
    			visibleItems: 2
    		},
    		tablet: { 
    			changePoint:768,
    			visibleItems: 3
    		}
    	}
    });
    
});
</script>
<script type="text/javascript" src="__ROOT__/public/js/jquery.flexisel.js"></script>
</div>
</div>-->
  <div class="footer" id="footer">
  	<div class="container">
	   <div class="footer-top">
		    <ul class="twitter_footer">
		 	 <li>
		 	  <i class="twt_icon"> </i><p>想成为 PLAN 签约教练 , 请咨询微信号：leogen<!--<span class="m_6"></span>--></p>
		 	   <div class="clearfix"> </div>
		 	 </li>
		 	</ul>
		 	<!--<div class="social">
			   <ul>
				 <li><a href=""> <i class="facebook"> </i> </a></li>
				 <li><a href=""><i class="twitter"> </i> </a></li>
				 <li><a href=""><i class="pinterest"> </i> </a></li>
				 <li><a href=""><i class="google"> </i> </a></li>
				 <li><a href=""><i class="tw"> </i> </a></li>
				 <li><a href=""><i class="instagram"> </i> </a></li>
				 <li><a href=""><i class="rss"> </i> </a></li>
				 <div class="clear"> </div>
			  </ul>
			</div>-->
			<div class="clearfix"> </div>
		</div>
		<div class="footer-bottom" id="contact">
		  <div class="container contact">
      	  	 <div class="col-md-4 contact-top_left">
			  <h3>联系我们</h3>
			  <p>PLAN是沃生（北京）科技有限公司旗下产品，我们致力于为在家健身者提供私人健身教练服务。<br>
地址：北京市海淀区北四环西路9号银谷大厦</p>
			  <ul class="contact_info">
			  	<!-- <li><i class="mobile"> </i><span>010-62530209</span></li> -->
			  	<li><i class="message"> </i><span class="msg">plan#99plan.com</span></li><br><br>
			  </ul>
              
              <ul class="contact_info">
			  	<li>京ICP备15041370号</li>
			  </ul>
	 		 </div>
      		 <!--<div class="col-md-8 contact-top">
			  <h3>Send us a message</h3>
			     <form method="post" action="contact-post.html">
					<div class="to">
                     	<input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
					 	<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" style="margin-left:20px">
					 	<input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" style="margin-left:20px">
					</div>
					<div class="contact_bottom-textarea">
	                   <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
	                </div>
	                <div class="form-submit1">
			           <input name="submit" type="submit" id="submit" value="Submit Your Message"><br>
			           <p class="m_msg">Make sure you put a valid email</p>
					</div>
					<div class="clear"></div>
                 </form>
             </div>-->
            </div>
      	    <div class="copy">
		      
		    </div>
          </div>
          <script type="text/javascript">
				$(document).ready(function() {
					/*
					var defaults = {
			  			containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
			 		};
					*/
					
					$().UItoTop({ easingType: 'easeOutQuart' });
					
				});
			</script>
		    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;">top </span></a>
			</div>
		</div>
		<!----//End-footer---->
		<!----//End-container---->  
		<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd1310a3e38c4646c620c608e1685dc3d' type='text/javascript'%3E%3C/script%3E")) </script>
</body>

</html>

